<div class="widget">

  <!-- DRAG AREA -->
  <div class="drag-bar">
    <span>📈 Stock Tracker</span>

    <!-- <div class="actions">
      <button (click)="minimize()">—</button>
      <button (click)="closeApp()">✕</button>
    </div> -->
  </div>

  <div class="stock-price" [class]="priceClass" *ngFor="let s of symbols">
    <!-- <span>{{ stock?.s ??7 }} - ₹{{ stock?.p??8}}</span> -->
    <span class="price-board" style="margin-bottom: 5px;">
      {{ s }} → {{ prices[s] }}
    </span>

  </div>


  <!-- <app-stock-chart *ngIf="showChart"></app-stock-chart> -->

</div>