.widget {
  width: 320px;
  background: rgba(20, 20, 20, 0.9);
  color: white;
  border-radius: 10px;
  font-family: Arial;
  padding: 10px;
}

.drag-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  cursor: move;

  /* 🔥 THIS MAKES IT DRAGGABLE */
  -webkit-app-region: drag;
}

.actions button {
  background: transparent;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;

  /* 🔥 REQUIRED */
  -webkit-app-region: no-drag;
}


.drag-bar {
  -webkit-app-region: drag;
  cursor: move;
}

.actions button {
  -webkit-app-region: no-drag;
}

.stock-price.up {
  color: #00ff88;
}

.stock-price.down {
  color: #ff4d4d;
}


.stock-price {
  padding: 4px 9px;
  background: #e6d9d912;
  border-radius: 6px;
}

span {
  font-size: 10px;
  font-family: cursive;
  letter-spacing: 1px;
}