<div class="widget">

  <!-- DRAG AREA -->
  <div class="drag-bar">
    <span>📈 Stock Tracker</span>

    <!-- <div class="actions">
      <button (click)="minimize()">—</button>
      <button (click)="closeApp()">✕</button>
    </div> -->
  </div>
  <!-- <div class="search-bar">
    <input type="text" placeholder="search here">
  </div> -->
<select name="cars" id="cars" class="Value-dropdown">
  <option value="volvo" class="bg-dark text-10px">Add Coin</option>
  <option value="volvo" class="bg-dark text-10px">BTCUSDT</option>
  <option value="saab" class="bg-dark text-10px">ETHUSDT</option>
  <option value="mercedes" class="bg-dark text-10px">DOGEUSDT</option>
  <option value="audi" class="bg-dark text-10px">SOLUSDT</option>
  <option value="audi" class="bg-dark text-10px">ETCUSDT</option>
</select>
  <div class="stock-price" *ngFor="let s of symbols">
    <span class="price-board" [ngClass]="priceClassMap[s]">
      {{ s }} → {{ prices[s] }}
    </span>
    <span (click)="unsubscribe()">❌</span>
  </div>


  <!-- <app-stock-chart *ngIf="showChart"></app-stock-chart> -->

</div>